<div class="grid">
    @for (item of topRegionsIntensity; track $index) {
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3 capitalize">{{ item.shortname }}</span>
                    <div class="text-900 font-medium text-xl"> {{ item.intensity.forecast }}%</div>
                </div>
                <!-- <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                    </div> -->
            </div>
            <span class="text-900 font-medium">{{ item.intensity.index }}</span>&nbsp;
            <!-- <span class="text-500">since last week</span> -->
        </div>
    </div>
    }
    <div class="col-12 xl:col-6">
        <div class="card">
            <h5>Current Regions Generation Mix</h5>
            <p-table [value]="generationRegions" [paginator]="true" [rows]="5" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <!-- <th>Image</th> -->
                        <th pSortableColumn="shortname">Name <p-sortIcon field="shortname"></p-sortIcon></th>

                        @for (item of fuelsList; track $index) {
                        <th class="capitalize">{{item}}</th>
                        }

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-r>
                    <tr>
                        <!-- <td style="width: 15%; min-width: 5rem;">
                                <img src="assets/demo/images/product/{{product.image}}" class="shadow-4" alt="{{product.name}}" width="50">
                            </td> -->
                        <td class="capitalize">{{r.shortname}}</td>

                        @for (fuel of fuelsList; track $index) {
                        <td>{{getIntesityOfRegionByFuel(r, fuel)}}</td>
                        }

                        <!-- <td style="width: 15%;">
                                <button pButton pRipple type="button" icon="pi pi-search" class="p-button p-component p-button-text p-button-icon-only"></button>
                            </td> -->
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <div class="card">
            <div class="flex justify-content-between align-items-center mb-5">
                <h5>Current Generation Mix </h5>
                <div>
                    <button pButton type="button" icon="pi pi-ellipsis-v"
                        class="p-button-rounded p-button-text p-button-plain" (click)="menu.toggle($event)"></button>
                    <p-menu #menu [popup]="true" [model]="items"></p-menu>
                </div>
            </div>
            @for (item of currentGenerationMix; track $index) {
            <ul class="list-none p-0 m-0">
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0 capitalize">{{item.fuel}}</span>
                    </div>
                    <div class="mt-2 md:mt-0 flex items-center">
                        <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem"
                            [ngStyle]="{height: '8px'}">
                            <div [ngClass]="getColorClass(item.perc, 'bg-')" class="h-full"
                                [ngStyle]="{width: item.perc + '%'}"></div>
                        </div>
                        <span [ngClass]="getColorClass(item.perc, 'text-')" class=" ml-3 font-medium"
                            style="min-width: 50px; text-align: left;">
                            {{item.perc}}%
                        </span>
                    </div>
                </li>
            </ul>
            }
        </div>
    </div>

    <div class="col-12 xl:col-6">
        <div class="card">
            <h5>Emissions History</h5>
            <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
        </div>
        <div class="card">
            <h5>Generation Mix History </h5>
            <p-chart type="line" [data]="chartDataGenerationMix" [options]="chartOptionsGenerationMix"></p-chart>
        </div>
    </div>
</div>